*{
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    height: 145vh;
    position: none;
    background-color: #080808;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #080808;
    border-bottom: 1px solid red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
 width: 100px;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

header .navbar ul li a:hover{
    background-color: red;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #080808;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid red;
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul ,
header .navbar ul li:hover > ul {
    display: initial;
}

.flecha{
    margin-left: 1px;
    width: 15px;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

header label{
    cursor: pointer;
    display: none;
}

@media(max-width:911px ){
    
    header{
        padding: 20px;
    }
    
    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #080808;
        border-top: 1px solid red;
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background-color: #080808;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
}